extends layout

block content
	div.container
		div.list-group
			for user in users
				a(href='/users/' + user.username).list-group-item
					span.badge= Object.keys(user.games).length + ' Games'
					|	#{user.username}
