extends layout

block content
	.container
		h1 Games
		ul.list-group
			for game in body.results
				li.list-group-item
					//- img(src="http://" + game.image.icon_url)
					if game.image
						h3 #{game.name}
						hr
						img(src=game.image.icon_url)

					