extends layout

block content
  .container
    h1
      span(class="fa fa-sign-in") 
      |  Register
    p.lead Start your collection now!
    br
    form(role='form', action="/register",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-lg.btn-warning(type='submit') Register

      hr

      p Already with us?  
        a(href='/login')
          | Login here.