extends layout

block content

	div.container
		div.well
			h1.nav-title #{foundUser.username}'s stack
			p.text-muted Joined on #{moment(foundUser.created_on).format('DD MMMM, YYYY')}

		if (Object.keys(foundUser.games).length != 0) 
			for game in Object.keys(foundUser.games)
				// for each game, request on server side 
				// display name and thumb? 

				div.col-sm-3
					a(href='/games/' + game)
						div.panel.panel-default.user-panel-container
							div.panel-heading.text-center
								p.user-panel-title #{foundUser.games[game].results.name}
							div.panel-body.user-panel-div
								if foundUser.games[game].results.image.length !== 0
									img.game-search-image(src=foundUser.games[game].results.image.medium_url)
					if user
						if (user.username == foundUser.username)
							button(type='button', onclick="removeGame('" + game + "')").btn.btn-danger.btn-block.remove-button Remove from Stack
		script.
			$('.user-panel-container').matchHeight();
