.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.nav-title(href='/') gamestack
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title == 'All Games') ? 'active' : undefined)
          a(href='/games') All Games

        li(class=(title == 'All Users') ? 'active' : undefined)
          a(href='/users') All Users

      ul.nav.navbar-nav.navbar-right
        if user
            li(class=(title == 'Account') ? 'active' : undefined)
                a(href='/users/' + user.username)
                    span.fa.fa-user-circle
                    |  #{user.username}

            li(class=(title == 'Logout') ? 'active' : undefined)
                a(href='/logout') Logout
        else   
            li(class=(title == 'Login') ? 'active' : undefined)
                a(href='/login') Login
            li(class=(title == 'Create Account') ? 'active' : undefined)
                a(href='/register') Create Account